@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    background-color: #8D99AE;
}

h1 {

    color: white;
    font-family: 'RobotoCondensed', sans-serif;
    font-weight: 700;
    text-shadow: -2px 2px #2B2D42;
    display: inline;
}

h2 {
    
    color: green;
    font-family: 'RobotoCondensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: -1px 1px 0.5px #073d00;


}

.headerWrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 100px;

}

.contentWrapper {
    margin: 20px auto;
    max-width: 600px;
    gap: 20px;
    font-family: sans-serif;
}

.content {
    padding: 30px;
    background-color: white;
    align-items: center;
}

.cardContent{
    font-size: 0.9em;
    padding: 0px;
}

.cardImage {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 3px 3px 10px grey;
}

#userInput {
    border: none;
    appearance: none;
    background-color: #2B2D42;
    color: cornsilk;
    width: 100%;
    height: 60px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.scoreBarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 100px;
}

.scoreBar{

    display: flex;
    width: 600px;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: center;

}

#streakCounter {
    color: green;
    font-family: 'RobotoCondensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-left: 10px;
    text-shadow: -1px 1px 0.5px #073d00;
    font-size: 26px;

}